@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');

/* start reset */

html, body, div, p, h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd, form, fieldset, caption, legend,
table, tr, td, th, address, blockquote, img {
    margin: 0;
    padding: 0;
}

img, fieldset {
    border: none;
}

blockquote, q {
    quotes: none;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button, label, summary {
    cursor: pointer;
}

body, button, input, table, textarea, select {
    font-size: 1rem;
    line-height: 1.5;
    font-family: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* end reset */

:root {
    --bg-color: hsl(220, 38%, 97%);
    --text-color: hsl(216, 25%, 25%);
    --card-bg: hsl(0, 0%, 100%);
    --card-bg-hover: hsla(0, 0%, 100%, 0.5);
    --purple: hsl(277, 91%, 56%);
    --purple-hover: hsl(277, 91%, 66%);
    --white: hsl(0, 0%, 100%);
    --ital-text: hsl(219, 13%, 44%);
    --light-gray: hsla(220, 38%, 97%);
    --gray-navy: hsl(219, 13%, 44%);
    --sun-icon-m: url(../assets/images/m/icon-sun-dark.svg);
    --moon-icon-m: url(../assets/images/m/icon-moon-dark.svg);
    --sun-icon-t: url(../assets/images/icon-sun-dark.svg);
    --moon-icon-t: url(../assets/images/icon-moon-dark.svg);
    --bg-img-m: url(../assets/images/pattern-background-mobile-light.svg);
    --bg-img-t: url(../assets/images/pattern-background-tablet-light.svg);
    --bg-img-d: url(../assets/images/pattern-background-desktop-light.svg);
    --card-shadow: rgba(143, 160, 193, 0.14);
}

#darkModeEnabled {
    --bg-color: hsl(216, 25%, 25%);
    --text-color: hsl(0, 0%, 100%);
    --ital-text: hsl(216, 47%, 78%);
    --card-bg: hsl(216, 27%, 32%);
    --card-bg-hover: hsla(216, 27%, 32%, 0.5);
    --sun-icon-m: url(../assets/images/m/icon-sun-light.svg);
    --moon-icon-m: url(../assets/images/m/icon-moon-light.svg);
    --sun-icon-t: url(../assets/images/icon-sun-light.svg);
    --moon-icon-t: url(../assets/images/icon-moon-light.svg);
    --bg-img-m: url(../assets/images/pattern-background-mobile-dark.svg);
    --bg-img-t: url(../assets/images/pattern-background-tablet-dark.svg);
    --bg-img-d: url(../assets/images/pattern-background-desktop-dark.svg);
    --card-shadow: rgba(49, 62, 81, 0.14);
}

html, body, #root {
    height: 100%;
}

body {
    font: 300 1rem/1.5 Rubik, sans-serif;
    background-color: var(--bg-color);
    background-image: var(--bg-img-m);
    background-repeat: no-repeat;
    background-position: left top;
    color: var(--text-color);
}

h1 {
    font-weight: 300;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.button {
    background-color: var(--purple);
    color: var(--white);
    width: 100%;
    height: 3.5rem;
    font-size: 1.125em;
    line-height: 1;
    border-radius: .75em;
    font-weight: 500;
    transition: background-color .2s ease;
}

.button:hover {
    background-color: var(--purple-hover);
}

strong {
    font-weight: 500;
}

i {
    color: var(--ital-text);
}

main {
    display: grid;
    min-height: 100%;
    padding: 1.5em;
    gap: 1.5em;
}

header {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

#heading {
    font-size: 1.125em;
    font-weight: 500;
}

header aside {
    margin-left: auto;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: .75em;
}

#intro h1 {
    font-size: 2.5em;
    line-height: normal;
}

#intro h1 strong {
    display: block;
}

#intro i {
    font-size: .875em;
}

#intro i:last-child {
    margin-bottom: auto;
}

#intro h2 {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.2;
}

#progressWrapper {
    background: var(--card-bg);
    padding: .25em;
    border-radius: .5em;
}

#progressBar {
    height: .5em;
    background: var(--purple);
    border-radius: .25em;
    transition: 0.15s width;
}

#selectionList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .75em;
    list-style: none;
    counter-reset: question;
}

#selectionList .selected .card {
    box-shadow: inset 0 0 0 3px var(--purple);
}

#selectionList .selected.correct .card {
    box-shadow: inset 0 0 0 3px #26D782;
}

#selectionList .correct .card {
    background-image: url(../assets/images/icon-correct.svg);
    background-position: right 1em center;
    background-repeat: no-repeat;
}

#selectionList .selected.incorrect .card {
    box-shadow: inset 0 0 0 3px #EE5454;
    background-image: url(../assets/images/icon-incorrect.svg);
    background-position: right 1em center;
    background-repeat: no-repeat;
}

#selectionList .selected.incorrect .card::before {
    background-color: #EE5454;
    color: var(--white);
}

.card {
    display: flex;
    padding: .75rem;
    column-gap: 1rem;
    align-items: center;
    box-shadow: 0 16px 40px 0 var(--card-shadow);
    font-weight: 500;
    font-size: 1.125em;
    counter-increment: question;
    background-color: var(--card-bg);
    border-radius: 0.75em;
}

button.card {
    width: 100%;
    color: var(--text-color);
    transition: background-color .2s ease;
    text-align: left;
}

button.card:hover {
    background-color: var(--card-bg-hover);
}

.questions .card::before,
.icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    background-position: center center;
    background-size: 1.875rem 1.875rem;
    background-repeat: no-repeat;
    background-color: var(--light-gray);
    text-align: center;
    line-height: 2.5rem;
    color: var(--gray-navy);
}

.questions .card::before {
    content: counter(question, upper-alpha);
}

#resultsCard {
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;
}

#resultsCard h3 {
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 1em;
    font-size: 1.125em;
}

#resultsCard strong {
    font-size: 5.5em;
}

#resultsCard p {
    color: var(--ital-text);
    font-weight: 400;
    font-size: 1.125em;
}

@media (min-width: 48em) {
    body {
        background-image: var(--bg-img-t);
    }

    main {
        padding: 1em 3em; /* 3em for notch inset */
        row-gap: 2em;
    }

    #heading {
        font-size: 1.75em;
    }

    #intro h1 {
        font-size: 4em;
    }

    #intro h2 {
        font-size: 2.25em;
    }

    #intro i {
        font-size: 1.25em;
    }

    #selectionList {
        row-gap: 1.5em;
    }

    .card {
        column-gap: 2rem;
        border-radius: 1.5rem;
        font-size: 1.75em;
    }

    .questions .card::before,
    .icon {
        width: 3.5rem;
        height: 3.5rem;
        background-size: 2.5rem 2.5rem;
        background-repeat: no-repeat;
        border-radius: 0.625rem;
        line-height: 3.5rem;
    }

    .button {
        height: 5.75rem;
        font-size: 1.75em;
        border-radius: 1.5rem;
    }

    #resultsCard {
        padding: 3rem;
    }
}

@media (min-width: 60em) {
    body {
        background-image: var(--bg-img-d);
        background-size: cover;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
        max-width: 90em;
        margin: 0 auto;
        column-gap: 3em;
        row-gap: 1.5em;
        padding: 0 2em;
    }

    header {
        grid-column: 1 / 3;
    }

    .card {
        padding: 1.125rem;
    }

    #progressWrapper {
        margin-top: auto;
    }

    .button {
        grid-column: 2 / 2;
    }
}